
<div class="propulsion-grid-container" style="">
	<div class="propulsion-grid propulsion-grid-header" ng-class="{'propulsion-has-search': show_search, 'propulsion-external': has_endpoint}">
      <div class="propulsion-grid propulsion-search" ng-show="show_search">
        <div class="input-group input-group-sm">
          <input type="text" ng-model="search" class="form-control" ng-keyup="$event.keyCode == 13 ? do_search() : null">
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button" ng-click="do_search()"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    <div ng-hide="has_endpoint" class="propulsion-grid propulsion-internal">
      Total: {{records_total}}
    </div>
		<div ng-show="has_endpoint" class="propulsion-grid propulsion-grid-pager"><pagination boundary-links="true" total-items="records_total" page="records_page" items-per-page="records_limit" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="pager_max_size"></pagination></div>
    <div ng-show="has_endpoint" class="propulsion-grid propulsion-grid-details">
      <div>Displaying: {{records_start}}-{{records_end}} ({{records_total}})</div>
      <div>Per Page: <select ng-model="records_limit" ng-options="size for size in pageSizes" ng-change="changePageSize()"></select></div>
    </div>
	</div>
	<div ng-grid="gridConfig" class="propulsion-grid propulsion-grid-nggrid" ng-class="{'propulsion-has-search': show_search, 'propulsion-external': has_endpoint}"></div>
</div>
