.propulsion-grid {
  position: relative;
}

.propulsion-grid .propulsion-grid-container {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.propulsion-grid.propulsion-grid-header {
  height: 30px;
  position: relative;
}

.propulsion-grid.propulsion-grid-header.propulsion-has-search.propulsion-external {
  height: 70px;
  position: relative;
}

.propulsion-grid.propulsion-grid-details {
  position: relative;
}

.propulsion-grid.propulsion-grid-pager {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 300px;
}

.propulsion-grid.propulsion-grid-details {
  position: absolute;
  bottom: 0px;
  width: 300px;
  right: 0px;
  text-align: right;
  line-height: 25px;
  vertical-align: middle;
}
.propulsion-grid.propulsion-internal {
  position: absolute;
  top: 0px;
  width: 200px;
  left: 0px;
  text-align: left;
}

.propulsion-grid.propulsion-grid-details>div {
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
}

.propulsion-grid.propulsion-grid-pager ul {
  margin: 0px;
}

.propulsion-grid.propulsion-grid-nggrid {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 32px;
  bottom: 0px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.propulsion-grid.propulsion-grid-nggrid.propulsion-has-search.propulsion-external {
  top: 70px;
}

.propulsion-grid.propulsion-search {
  position: absolute;
  top: 0px;
  width: 200px;
  right: 0px;
  text-align: right;
}

